# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MLflow artifacts
mlruns/
*.db

# Logs and temporary files
*.log
*.tmp
*.out
*.pid

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Docker-related files
*.dockerignore
docker-compose.override.yml

# Environment files
.env
.env.local
.env.*.local

# Miscellaneous
*.bak
*.old

# Data files
*.parquet